ws/nc/itf/gl/ISendVoucher2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
jaxb:version="2.0"
xmlns:ns0="http://gl.itf.nc/ISendVoucher2"
targetNamespace="http://gl.itf.nc/ISendVoucher2">

<jaxws:bindings>
	<jaxws:package name="nc.itf.gl"/>
</jaxws:bindings>

<wsdl:types>
   <xsd:schema xmlns:ns="http://gl.itf.nc/ISendVoucher2"
			xmlns:businessException="http://pub.vo.nc/BusinessException"
			attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://gl.itf.nc/ISendVoucher2" jaxb:version="2.0">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="nc.itf.gl"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	 <xsd:import namespace="http://pub.vo.nc/BusinessException" schemaLocation="/nc/vo/pub/BusinessException.xsd"/>
	<xsd:element name="doSendVoucherToNCSystem">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="string"  minOccurs="0" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="doSendVoucherToNCSystemResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="return"  minOccurs="0" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
   </xsd:schema>
</wsdl:types>
    <wsdl:message name="doSendVoucherToNCSystemRequest">
        <wsdl:part name="parameters"  element="ns0:doSendVoucherToNCSystem"/>
    </wsdl:message>
    <wsdl:message name="doSendVoucherToNCSystemResponse">
        <wsdl:part name="parameters"  element="ns0:doSendVoucherToNCSystemResponse"/>
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part name="BusinessException"  xmlns:businessException="http://pub.vo.nc/BusinessException"  element="businessException:BusinessException"/>
    </wsdl:message>

    <wsdl:portType name="ISendVoucher2PortType">
        <wsdl:operation name="doSendVoucherToNCSystem">
            <wsdl:input message="ns0:doSendVoucherToNCSystemRequest" wsaw:Action="urn:doSendVoucherToNCSystem"/>
            <wsdl:output message="ns0:doSendVoucherToNCSystemResponse" wsaw:Action="urn:doSendVoucherToNCSystemResponse"/>
            <wsdl:fault name="BusinessException" message="ns0:BusinessException"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="ISendVoucher2SOAP11Binding" type="ns0:ISendVoucher2PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="doSendVoucherToNCSystem">
            <soap:operation soapAction="urn:doSendVoucherToNCSystem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
     		<wsdl:fault name="BusinessException">
        		<soap:fault name="BusinessException" use="literal"/>
      		</wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ISendVoucher2">
        <wsdl:port name="ISendVoucher2SOAP11port_http" binding="ns0:ISendVoucher2SOAP11Binding">
            <soap:address location="http://localhost/uapws/service/ISendVoucher2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
